# Telegram Bot Token from @BotFather
BOT_TOKEN=

# Groq API Key from https://console.groq.com
GROQ_API_KEY=

# MongoDB Connection URI (Chats persist across all restarts)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/
